.container {
    width: 100%;
}

.clickable:hover {
    background: #F6F6F6;
    cursor: pointer;
}

.title {
    font-weight: bold;
    font-size: 1.1rem;
}

.description {
    margin: .5em 0;
}

.footer {
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 10px;
}

.description img {
    width: auto;
}

@media(max-width: 1200px) {
    .mobile {
        display: none;
    }
}