.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    padding: 0 5px;
}

.container:hover {
    background: #F6F6F6;
    cursor: pointer;
}

.userInfo {
    width: 80%;
}

.downInfo {
    color: grey;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}