.container {
    width: 100%;
}

.topContainer {
    width: 100%;
    background: chartreuse;
}

.topCard {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.viewNumber {
    height: 50px;
    width: 15%;
    display: flex;
}

.view {
    width: 40%;
    padding: 0 5%;
}

.view:first-child {
    border-right-color: rgb(175, 173, 173);
    border-right-style: solid;
    border-right-width: 1px;
}

.bottomContainer {
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.articleList {
    flex: 2;
    background: cornsilk;
}

.rightList {
    flex: 1;
}

.about {
    padding: 0 10%;
}

.recommand {
    padding: 0 10%;
    margin-top: 20px;
}

.avatarContainer {
    display: flex;
}