.sitecardborderlesswrapper {
    padding: 10px 100px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;
  }

  .rightColumn {
      width: 30%;
  }

  .linkItem {
      color: #8590A6;
  }

  .linkItem:hover {
      background: #F6F6F6;
      cursor: pointer;
  }

  .contentCard {
      width: 68%;
  }

  .text {
      width: 100%;
      font-size: 12px;
      color: #444;
      text-align: center;
      line-height: 1;
      white-space: nowrap;
  }

  .text:hover {
      color: blue;
  }

  .grid {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  .gridItem {
      width: 25%; 
      text-align: center;
      cursor: pointer;
      /* padding: 12px; */
  }


  @media(max-width: 1200px) {
    .sitecardborderlesswrapper {
        padding: 0;
      }

    .rightColumn {
        display: none;
    }

    .contentCard {
        width: 100%;
        margin-top: 1em;
    }

    .contentTab {
        width: 100%;
    }
  }