.specialHeader {
    display: flex;
    align-items: center;
    margin: 0 24px;
    padding: 30px 0;
    height: 110px;
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb;
}

.specialInfo {
    flex: 1;
}

.specialTitle {
    width: 330px;
    line-height: 28px;
    max-height: 56px;
    font-size: 20px;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 600;
    font-synthesis: style;
}

.specialButton {
    flex-shrink: 0;
    /* margin-left: 20px; */
}

.specialCount {
    margin-top: 4px;
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    color: #999;
}

.contentList {
    margin: 20px 24px;
}

.contentItem {
    display: flex;
    align-items: center;
    height: 24px;
    margin-top: 12px;
}

.contentTag {
    flex-shrink: 0;
    border-radius: 5px;
    background-color: #f6f6f6;
    padding: 0 8px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #8590a6;
    cursor: pointer;
}

.contentTitle {
    flex: 1 1;
    margin-left: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}