.container {
    width: 100%;
}

.avatarContainer {
    display: flex;
    
}

.introduction {
    margin-left: 1em;
}


.description {
    margin: .5em 0;
}

.footer {
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 10px;
}

.description img {
    width: 550px;
}