.container {
    width: 100%;
}

.avatarContainer {
    display: flex;
    
}

.introduction {
    margin-left: 1em;
}


.description {
    margin: .5em 0;
}

.footer {
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 10px;
}

.description img {
    width: 550px;
}

.hidden {
    cursor: pointer;
}

@media(max-width: 1200px) {
    .mobile {
        margin: 0 !important;
        padding: 0 !important;
    }

    .hidden {
        display: none;
    }

    .description img {
        width: 200px;
    }
}