.sitecardborderlesswrapper {
    padding: 10px 100px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;
  }

  .sticky {
    position: fixed;
    z-index: 2;
    height: 68px;
    width: 694px;
    top: 75px;
    left: 174.5px;
  }
  
  .tablist {
    border-radius: 2px 2px 0 0;
    display: flex;
    height: 68px;
    padding: 0 10px;
    border-bottom: 1px solid #f6f6f6;
    align-items: center;
    background: #fff;
  }

  .tab {
    margin: 0 10px;
    font-weight: 500;
    box-shadow: 0 6px 10px 0 rgba(0,102,255,.06);
    background: rgba(0,102,255,.08);
    cursor: pointer;
    display: flex;
    font-size: 14px;
    padding: 0 12px;
    height: 32px;
    border-radius: 16px;
  }

  .tabtext {
      line-height: 32px;
  }

  .questions {
    padding: 0 20px;
  }

  .rightColumn {
      width: 30%;
  }

  .linkItem {
      color: #8590A6;
  }

  .linkItem:hover {
      background: #F6F6F6;
      cursor: pointer;
  }

  .contentCard {
      width: 68%;
  }

  .text {
      width: 100%;
      font-size: 12px;
      color: #444;
      text-align: center;
      line-height: 1;
      white-space: nowrap;
  }

  .text:hover {
      color: blue;
  }

  .grid {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  .gridItem {
      width: 25%; 
      text-align: center;
      cursor: pointer;
      /* padding: 12px; */
  }


  @media(max-width: 1200px) {
    .sitecardborderlesswrapper {
        padding: 0;
      }

    .rightColumn {
        display: none;
    }

    .contentCard {
        width: 100%;
        margin-top: 1em;
    }

    .contentTab {
        width: 100%;
    }
  }